<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new">add</a>
    <ul>
      <% for(const message of messages) {%>
       <li> 
        <%= message.text%>
        <%= message.user%>
        <%= message.added%>
      </li>
      <% }%>
    </ul>
  </body>
</html>
